@media (max-width: 760px) {
    .container {
        width: 90%;
    }

    .history {
        width: 90%;
    }

    .footer__detail {
        width: 100%;
    }

    .box_edit_item__container {
        width: 70%;
    }
}